* {
    box-sizing: border-box
}

#title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 2em;
}

#card_elmnt_title {
    background-image: linear-gradient(188deg, transparent 72%, #ecebf5 0);
}

.container-fluid {
    padding-right: 15px;
    padding-left: 0px;
}

#unitedlogo {
    margin-left: 6em;
    margin-top: 9px;
}

#nav {
    background: #6050dc;
    border-radius: 0px;
    box-shadow: inherit;
}

#tabs {
    float: right;
}

#subjectTitle {
    padding: 0px;
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#row_flex {
    margin: 0 auto;
}

#icon {
    font-family: unset;
    color: white;
}

#card_button {
    background: linear-gradient(to right, #6050dc, #7465e6);
    width: 100%;
    margin: 0 auto;
    border: none;
}